/*button {
    background-color: #ff6600;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/
ul{
        list-style-type: none;
}

#root {
    text-align:center;
}
.small {
    width: 25%;
    height: 100%;
}
.small img {
    width: 100%;
    height: auto;
}
.thumbnailSmall{
    width: 25%;
}
.right{
    float: right;
}
.left{
    float:left;
}
#videoTitle {
    text-align: center;
}
#comment {
    margin-bottom: 5px;

}
#rating {
    color: green;
    float: left;
    margin-bottom: 100px;
}
#category {
    color: blue;
    float: right;
}
#video{

}
#container{
    margin-top: 5px;
    width: 100%
}
#container button{
    margin-top: -2;
}
#thumbnail{
    width: 100%;
    margin-bottom: 5px;
}
#addComment{
    background-color: grey;
    width: 100&;
    height: 50px;
}
#commentInput {

    float: left;
}
#commentButton {
    float: right;
}
#comments{
    width: 100%;
}
